%b TEST
- @temp_polls.each do |poll|
  %tr
    %td= link_to poll.name, poll
    - if @current_user.admin_permissions && !poll.closed
      %td= link_to "Bearbeiten", edit_poll_path(poll.id)
      %td= link_to "Beenden", close_poll_path(poll.id)
      %td= link_to "Löschen", poll_path(poll.id), method: :delete, data: { confirm: "Wirklich löschen?" }

    - if poll.closed
      %td(style="color:green;") Umfrage beendet
      - if @current_user.has_permission "polls.open"
        %td= link_to "Umfrage wieder öffnen", open_poll_path(poll.id)
