<h1>Umfragen</h1>
<% if @current_user.admin_permissions %>
	<p>
		<%= link_to "Neue Umfrage", new_poll_path %>
	</p>
<% end %>
<h2>Deine offenen Umfragen</h2>
<table>
	<% @polls_not_voted_for.each do |poll| %>
		<tr>
			<td><%= link_to poll.name+" ("+poll.question+")", poll_path(poll.id) %> </td>
			<% if @current_user.admin_permissions && !poll.closed%>
				<td><%= link_to "Bearbeiten", edit_poll_path(poll.id) %></td>
				<td><%= link_to "Beenden", close_poll_path(poll.id) %></td>
				<td><%= link_to "Löschen", poll_path(poll.id), method: :delete, data: { confirm: "Wirklich löschen?" } %></td>
			<% end %>
			<% if poll.closed %>
				<td style="color:green;">Umfrage beendet</td>
				<% if @current_user.admin_permissions %>
					<td><%= link_to "Umfrage wieder öffnen", open_poll_path(poll.id) %></td>
				<% end %>
			<% end %>
		</tr>
	<% end %>
</table>
<h2>Deine abgestimmten Umfragen</h2>
<table>
	<% @polls_already_voted_for.each do |poll| %>
		<tr>
			<td><%= link_to poll.name+" ("+poll.question+")", poll_path(poll.id) %> </td>
			<% if @current_user.admin_permissions && !poll.closed%>
				<td><%= link_to "Bearbeiten", edit_poll_path(poll.id) %></td>
				<td><%= link_to "Beenden", close_poll_path(poll.id) %></td>
				<td><%= link_to "Löschen", poll_path(poll.id), method: :delete, data: { confirm: "Wirklich löschen?" } %></td>
			<% end %>
			<% if poll.closed %>
				<td style="color:green;">Umfrage beendet</td>
				<% if @current_user.admin_permissions %>
					<td><%= link_to "Umfrage wieder öffnen", open_poll_path(poll.id) %></td>
				<% end %>
			<% end %>
		</tr>
	<% end %>
</table>