<h1>Neue Umfrage</h1>
<%= form_tag poll_index_path, method: :post do %>
	<b>Thema</b> <%= text_field_tag :name, nil, placeholder: "Thema" %><br /><br />
	<b>Frage</b> <%= text_field_tag :question, nil, placeholder: "Frage" %><br /><br /><br />
	<fieldset>
		<legend><b><i>Votingmöglichkeiten</i></b></legend>
		<br />
		<span id="poll_options">
			<b>Votingmöglichkeit</b> <%= text_field_tag "voting_op[0]", nil, placeholder: "1. Votingmöglichkeit" %><br /><br />
			<b>Votingmöglichkeit</b> <%= text_field_tag "voting_op[1]", nil, placeholder: "2. Votingmöglichkeit" %><br /><br />
		</span>
		<a href="#" onclick="add_poll_voting_opportunity();">Weitere Votingmöglichkeit hinzufügen</a><br />
	</fieldset>
	<%= submit_tag "Umfrage erstellen" %>
<% end %>
<p>
	<%= link_to "Umfragen", poll_index_path %>
</p>