<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
<!--
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
-->
  <% end %>

  <div class="field">
    <%= f.label :sender, "Absender" %><br>
    <%= f.text_field :sender, placeholder: "Anonym" %>
  </div>
  <div class="field">
    <%= f.label :text, "Text" %><br>
    <%= f.text_area(:text,size:"60x10") %>
  </div>
  <div class="field">
    <%= f.label :teacher, "Lehrer beteiligt?" %><br>
    <%= f.check_box :teacher %>
  </div>
  <div class="actions">
    <%= f.submit "Bestätigen" %>
  </div>
<% end %>
