<h1>Schüler- und Lehrerzitate</h1>

<table>
  <thead>
    <tr>
      <th>Absender</th>
      <th>Text</th>
      <th>Lehrer beteiligt?</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.sender %></td>
        <td><%= quote.text %></td>
        <td><%= raw(quote.teacher ? "&#x2713;" : "&#x2717;") %></td>
        <td><%= link_to 'Anzeigen', quote %></td>
        <td><%= link_to 'Bearbeiten', edit_quote_path(quote) %></td>
        <td><%= link_to 'Löschen', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
