<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @quote.sender %>
</p>

<p>
  <strong>Text:</strong>
  <%= @quote.text %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @quote.teacher %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
