<h1>Deine Wahl in der Kategorie <%= @category.name %></h1>

<%= flash[:notice] %>

<% if @given_votes.any? %>
	<h3>Willst du dein Voting noch einmal überarbeiten?</h3>
	<form action="edit" method="get">
		<input type="hidden" name="category_id" value="<%= @category.id %>" />
		<input type="submit" value="Bearbeiten" />
	</form>
<% end %>

<% 3.times do |i| %>

<p>
	<h2><%= i+1 %>. Platz</h2>
	<%= form_tag({}, {method: "post"}) do %>
		Name: <%= text_field_tag :name, @given_votes[i] ? @given_votes[i].voted : nil %>
		<%= hidden_field_tag :rating, 3-i %>
		<%= submit_tag "Abstimmen" %>
	<% end %>
</p>

<% end %>

<%= link_to "Kategorie-Liste", category_list_path %>