-# Erstellt mit HAML (HTML Abstract Markdown Language)

%h1{id: "category-heading", data: {category: @category.id}}	Deine Wahl in der Kategorie #{@category.name}

.notice= flash[:notice]

- (1..3).each do |i|
	.voting
		%h2 #{i}. Platz
		= form_tag({}, method: "post", class: "voting-form") do
			%label{for: "name_#{i+1}"} Name:
			%input.candidate-input{type: "text", id: "candidate_#{i}", name: "candidate", placeholder: "Kandidat"}
			%span.response-field
			%input.ftchd_cand_type{type: "hidden", name: "ftchd_cand_type"}
			%input.ftchd_cand_id{type: "hidden", name: "ftchd_cand_id"}
			= hidden_field_tag :rating, 3-i
			= submit_tag "Abstimmen"
			%span.success-msg
			%span.error-msg

= link_to "Kategorie-Liste", category_list_path
