-# Erstellt mit HAML (HTML Abstract Markdown Language)

%h1{id: "category-heading", data: {category: @category.id}}	Deine Wahl in der Kategorie #{@category.name}

.notice= flash[:notice]

- 3.times do |i|
	.voting{id: "voting_#{i+1}"}
		%h2 #{i+1}. Platz
		= form_tag({}, {method: "post"}) do
			%label{for: "name_#{i+1}"} Name:
			%input{type: "text", name: "candidate", class: "candidate-input", placeholder: "Kandidat"}
			%span#response-field
			= hidden_field_tag :fetched_candidate_id
			= hidden_field_tag :fetched_candidate_type
			= hidden_field_tag :rating, 3-i
			= submit_tag "Abstimmen"

= link_to "Kategorie-Liste", category_list_path
