#icon_info_box

%h1 Liste der Kriterien

%table
	%tr
		%th= image_tag("student_and_teacher.jpg", alt: "Schüler und Lehrer", height: 75)
		%th= image_tag("student.jpg", alt: "Schüler", height: 75)
		%th= image_tag("teacher.png", alt: "Lehrer", height: 75)
	%tr
		- @groupset.each do |groups_ordered_by_profession|
			%td
				%table
					%tr
						%th= image_tag("mars_and_venus_together.png", alt: "unisex", height: 50)
						%th= image_tag("venus.png", alt: "weiblich", height: 50)
						%th= image_tag("mars.png", alt: "männlich", height: 50)
					%tr
						- groups_ordered_by_profession.each do |group|
							%td
								%ul
									- group.categories.each do |category|
										%li= link_to category.name, give_vote_path(category.id)
										