<script type="text/javascript">
	window.addEventListener('load',function(){

		var canvas = document.getElementById('resultCanvas');
		var context = canvas.getContext('2d');
		var radius = 200;

		//Tortenst端ck Platz 1
		context.beginPath();
		context.moveTo(250,document.getElementById('resultCanvas').height/2);
		context.arc(250,document.getElementById('resultCanvas').height/2,radius,0,2*Math.PI*<%= @categoryResults[0][2] %>,false);
		context.fillStyle = "rgb(255,0,0)";
		context.fill();
		context.closePath();

		//Tortenst端ck Platz 2
		context.beginPath();
		context.moveTo(250,document.getElementById('resultCanvas').height/2);
		context.arc(250,document.getElementById('resultCanvas').height/2,radius,2*Math.PI*<%= @categoryResults[0][2] %>,2*Math.PI*(<%= @categoryResults[0][2] %> + <%= @categoryResults[1][2] %>),false);
		context.fillStyle = "rgb(0,255,0)";
		context.fill();
		context.closePath();

		//Tortenst端ck Platz 3
		context.beginPath();
		context.moveTo(250,document.getElementById('resultCanvas').height/2);
		context.arc(250,document.getElementById('resultCanvas').height/2,radius,2*Math.PI*(<%= @categoryResults[0][2] %> + <%= @categoryResults[1][2] %>),2*Math.PI*(<%= @categoryResults[0][2] %> + <%= @categoryResults[1][2] %> + <%= @categoryResults[2][2] %>),false);
		context.fillStyle = "rgb(0,0,255)";
		context.fill();
		context.closePath();

		//Tortenst端ck Andere
		<% if @categoryResults[0][2] + @categoryResults[1][2] + @categoryResults[2][2] > 0 %>
			context.beginPath();
			context.moveTo(250,document.getElementById('resultCanvas').height/2);
			context.arc(250,document.getElementById('resultCanvas').height/2,radius,2*Math.PI*(<%= @categoryResults[0][2] %> + <%= @categoryResults[1][2] %> + <%= @categoryResults[2][2] %>),2*Math.PI*1.0,false);
			context.fillStyle = "rgb(255,140,0)";
			context.fill();
			context.closePath();
		<% end %>

		//Kategoriename
		context.fillStyle = "rgb(0,0,0)";
		context.font = "30px Arial";
		context.fillText("<%= Category.find_by_id(params[:category_id]).name %> (<%= Group.find_by_id(Category.find_by_id(params[:category_id]).group_id).name %>)",50,50);

		//Ergebnisse in Zahlen
		//1.Platz
		context.fillStyle = "rgb(255,0,0)";
		context.font = "20px Arial";
		context.fillText("1. Platz:",500,150);
		<% if @categoryResults[0][0] > 0 %>
			context.fillText("<%= Student.find_by_id(@categoryResults[0][0]).name %> (<%= @categoryResults[0][2]*100 %>% / <%= @categoryResults[0][1] %> Pkt)",500,180);
		<% else %>
			context.fillText("Kein Voting",500,180);
		<% end %>
		//2.Platz
		context.fillStyle = "rgb(0,255,0)";
		context.fillText("2. Platz:",500,230);
		<% if @categoryResults[1][0] > 0 %>
			context.fillText("<%= Student.find_by_id(@categoryResults[1][0]).name %> (<%= @categoryResults[1][2]*100 %>% / <%= @categoryResults[1][1] %> Pkt)",500,260);
		<% else %>
			context.fillText("Kein Voting",500,260);
		<% end %>
		//3.Platz
		context.fillStyle = "rgb(0,0,255)";
		context.fillText("3. Platz:",500,310);
		<% if @categoryResults[2][0] > 0 %>
			context.fillText("<%= Student.find_by_id(@categoryResults[2][0]).name %> (<%= @categoryResults[2][2]*100 %>% / <%= @categoryResults[2][1] %> Pkt)",500,340);
		<% else %>
			context.fillText("Kein Voting",500,340);
		<% end %>
		//Andere
		context.fillStyle = "rgb(255,140,0)";
		context.fillText("Andere:",500,390);
		context.fillText("Werte: <%= @categoryResults[3][0] %>% / <%= @categoryResults[3][1] %> Pkt",500,420);
		//Geamt
		context.fillStyle = "rgb(0,0,0)";
		context.fillText("Geamt:",500,470);
		context.fillText("100% = <%= @totalPoints %> Pkt",500,500);

	}, false);
</script>
<h2>Ergebnisse</h2>
<%= form_tag "", method: :get do %>
	Kategorie: <select name="category_id">
		<% Category.all.each do |category| %>
			<option value="<%= category.id %>"><%= category.name %> (<%= Group.find_by_id(category.group_id).name %>)</option>
		<% end %>
	</select>
	<%= submit_tag "Zeigen" %>
<% end %>
<canvas id="resultCanvas" width="800px" height="600px"></canvas>

<table>
	<thead>
		<tr>
			<th>Gruppe</th>
			<th>Kategorie</th>
			<th>1. Platz</th>
			<th>2. Platz</th>
			<th>3. Platz</th>
		</tr>
	</thead>
	<tbody>
		<% @results.each do |result| %>
			<tr>
				<td><%= Group.find_by_id(Category.find_by_id(result[:category_id]).group_id).name %></td>
				<td><%= Category.find_by_id(result[:category_id]).name %>(<%= Category.find_by_id(result[:category_id]).id %>)</td>
				<% result[:ranking].each do |voted| %>
					<td><%= voted["name"] + " (" + voted["points"].to_s + ")" %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>