= form_for @class_trip do |f|
  - if @class_trip.errors.any?
    #error_explanation
      %h2= "#{pluralize(@class_trip.errors.count, "error")} prohibited this class_trip from being saved:"
      %ul
        - @class_trip.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :sender, "Absender:"
    = f.text_field :sender, disabled: true, value: @current_user.name
  .field
    = f.label :course, "Kurs:"
    = f.text_field :course
  .field
    = f.label :text, "Text:"
    %br
    = f.text_area :text, rows: 15, cols:80
  .actions
    = f.submit 'Einreichen'
