%p#notice= notice

%p
  %b Absender:
  = @class_trip.sender.name
%p
  %b Kurs:
  = @class_trip.course
%p
  %b Wörter:
  = @class_trip.text.split.size

%b Text:
= simple_format @class_trip.text

= link_to 'Bearbeiten |', edit_class_trip_path(@class_trip) if @current_user.has_permission("class_trips.edit")
= link_to 'Zurück', class_trips_path
