%h2 Ändere dein Passwort

- if @errors.any?
	#error_explanation
		%ul
			- @errors.each do |error|
				%li= error

- if !@fatal
	#change-password-form
		= form_tag "", method: :post do
			- if @current_user
				%p
					= label_tag :old_password, "Altes Passwort"
					= password_field_tag :old_password
			%p
				= label_tag :password, "Passwort"
				= password_field_tag :password
			%p
				= label_tag :password_confirmation, "Passwort wiederholen:"
				= password_field_tag :password_confirmation
			= submit_tag "Passwort ändern"

- if !@current_user
	= link_to "Login", :login