%h2 Ändere dein Passwort

- if @errors.any?
	#error_explanation
		%ul
			- @errors.each do |error|
				%li= error

- if !@fatal
	#change-password-form
		= form_tag "", method: :post do
			- if @current_user
				%table
					%tr
						%td
							= label_tag :old_password, "Altes Passwort: "
						%td
							= password_field_tag :old_password
					%tr
						%td
							= label_tag :new_password, "Neues Passwort: "
						%td
							= password_field_tag :new_password
					%tr
						%td
							= label_tag :password_confirmation, "Passwort wiederholen: "
						%td
							= password_field_tag :password_confirmation
			%br
			= submit_tag "Passwort ändern"

- if !@current_user
	= link_to "Login", :login