%h1 Schülerliste

= link_to 'Schüler hinzufügen', new_student_path

%table
  %thead
    %tr
      %th Name
      %th Geschlecht
      %th E-Mail Adresse
      %th Admin-Rechte
      %th
      %th
      %th

  %tbody
    - @students.each do |student|
      %tr
        %td{style: student.closed ? "background-color: red;" : ""}= student.name
        %td= student.gender ? "m" : "w"
        %td= student.mail_address
        %td= raw(student.admin_permissions ? "<span style='color:#00ff00;'>&#x2713;</span>" : "&#x2717;")
        %td= link_to 'Anzeigen', student
        %td= link_to 'Bearbeiten', edit_student_path(student)
        %td= link_to 'Löschen', student, method: :delete, data: { confirm: 'Soll Eintrag Nr. ' + student.id.to_s + " wirklich gelöscht werden?" }
