<h1>Schülerliste</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Geschlecht</th>
      <th>E-Mail Adresse</th>
      <th>Admin-Rechte</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <%= raw student.password_resetkey.blank? ? "<tr>" : "<tr style='background-color: red;' >" %>
        <td><%= student.name %></td>
        <td><%= student.gender ? "m" : "w" %></td>
        <td><%= student.mail_address %></td>
        <td><%= student.admin_permissions ? "Ja" : "Nein" %></td>
        <td><%= link_to 'Anzeigen', student %></td>
        <td><%= link_to 'Bearbeiten', edit_student_path(student) %></td>
        <td><%= link_to 'Löschen', student, method: :delete, data: { confirm: 'Soll Eintrag Nr. ' + student.id.to_s + " wirklich gelöscht werden?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Schüler hinzufügen', new_student_path %>
<%= link_to "Administration", :settings %>
