%h1 Schülerliste

= link_to 'Schüler hinzufügen', new_student_path

%table
  %thead
    %tr
      %th Name
      %th Geschlecht
      %th E-Mail Adresse
      %th Admin-Rechte
      %th Status
      %th
      %th
      %th

  %tbody
    - @students.each do |student|
      %tr
        %td= student.name
        %td= student.gender ? "m" : "w"
        %td= student.mail_address
        %td= admin_symbol student
        %td= member_symbol student
        %td= link_to 'Anzeigen', student
        %td= link_to 'Bearbeiten', edit_student_path(student)
        %td= link_to 'Löschen', student, method: :delete, data: { confirm: 'Soll Eintrag Nr. ' + student.id.to_s + " wirklich gelöscht werden?" }
