<p id="notice"><%= notice %></p>

<% if @student.closed %>
  <strong style="color:red;">Dieser Account ist geschlossen!</strong>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Geschlecht:</strong>
  <%= @student.gender ? "männlich" : "weiblich" %>
</p>

<p>
  <strong>E-Mail Addresse:</strong>
  <%= @student.mail_address %>
</p>

<p>
  <strong>Admin-Rechte:</strong>
  <%= @student.admin_permissions ? "Ja" : "Nein" %>
</p>

<%= link_to 'Bearbeiten', edit_student_path(@student) %> |
<%= link_to 'Zurück', students_path %>

<h2>Erhaltene Beschreibungen</h2>
<%= render partial: "descriptions/table", locals: { descriptions: @student.descriptions } %>
