<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Mail address:</strong>
  <%= @student.mail_address %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @student.password_digest %>
</p>

<p>
  <strong>Password resetkey:</strong>
  <%= @student.password_resetkey %>
</p>

<p>
  <strong>Admin permissions:</strong>
  <%= @student.admin_permissions %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
