<% if @terminalDevice == "Desktop-PC" %>
	<!--<% flash.each do |name,message| %>
		<div id="flash_<%= name %>">
			<%= message %>
		</div>
		<br />
	<% end %>-->

	<%= image_tag("cloud1.png",alt:"Wolke",id:"login_bg") %>
	<div id="login">
		<% if Rails.env.development? %>
			<%= link_to(image_tag("Rmash.png", alt: "RMash Logo"), :instant_login) %>
		<% else %>
			<%= image_tag("Rmash.png", alt: "RMash Logo") %>
		<% end %>
		<h1>Login</h1>
		<span id="error-msg">x</span>
		<%= form_tag "/login", method: :post, id: "login-form" do %>
			<%= text_field_tag :email, nil, placeholder: "E-Mail Adresse" %><br />
			<span id="password_wrapper">
				<%= password_field_tag :password, nil, placeholder: "Passwort" %><a href="/reset_password" id="reset_password">?</a>
			</span>
			<div id="buttons_wrapper">
				<span id="persist_label"><label for="persist">Eingeloggt bleiben: </label><%= check_box_tag :persist %></span>
				<%= submit_tag "Einloggen", :id => "send_login" %>
			</div>
		<% end %>
	</div>
<% else %>
	<h1 style="text-align:center;">Login</h1>
	<form id="login-form" action="/login" method="post">
		<label class="ui-hidden-accessible" for="mail">E-Mail</label><input name="email" type="text" id="mail" data-mimi="true" placeholder="E-Mail" />
		<label class="ui-hidden-accessible" for="password">Passwort</label><input name="password" type="password" id="password" data-mimi="true" placeholder="Paswort" />
		<label for="stay_logged_in">Eingeloggt bleiben</label><input name="persist" type="checkbox" id="stay_logged_in" />
		<input type="submit" value="Einloggen" data-role="button" data-theme="b" data-mimi="true" />
		<a href="/reset_password" data-role="button" data-mini="false" data-theme="b">Passwort vergessen?</a>
	</form>
<% end %>