<!--<% flash.each do |name,message| %>
	<div id="flash_<%= name %>">
		<%= message %>
	</div>
	<br />
<% end %>-->
<% if flash.count > 0 %>
	<style>
		#email{
			border: 1px solid red;
			color:red;
		}
		#email:focus{
			box-shadow: 0px 0px 3px 3px red;
			border: none;
			outline:none;
			color:black;
		}
		#password{
			border: 1px solid red;
			color:red;
		}
		#password:focus{
			box-shadow: 0px 0px 3px 3px red;
			border: none;
			outline:none;
			color:black;
		}
	</style>
<% end %>
<div id="login">
	<div>
		<%= image_tag("Rmash.png", alt: "RMash Logo") %>
		<h1>Login</h1>
		<%= form_tag "", method: :post do %>
			<%= text_field_tag :email, nil, placeholder: "E-Mail Adresse" %><br />
			<span id="password_wrapper">
				<%= password_field_tag :password, nil, placeholder: "Passwort" %><a href="/reset_password" id="reset_password_wrapper">?</a>
			</span>
			<span id="buttons_wrapper">
				<label id="persist_label" for="persist">Eingeloggt bleiben: </label><%= check_box_tag :persist %>
				<%= submit_tag "Einloggen", :id => "send_login" %>
			</span>
		<% end %>
		<!--<%= link_to "Passwort vergessen", :reset_password %>-->
		<!--<%= link_to "Instant Login", controller: "session", action: "instantlogin" %>-->
	</div>
</div>
