<!--<% flash.each do |name,message| %>
	<div id="flash_<%= name %>">
		<%= message %>
	</div>
	<br />
<% end %>-->
<% if flash.count > 0 %>
	<style>
		#email{
			border: 1px solid red;
		}
		#email:focus{
			box-shadow: 0px 0px 3px 3px red;
			border: none;
			outline:none;
		}
		#password{
			border: 1px solid red;
		}
		#password:focus{
			box-shadow: 0px 0px 3px 3px red;
			border: none;
			outline:none;
		}
		#login div label{
			color: red;
		}
	</style>
<% end %>
<div id="menue">

</div>
<div id="login">
	<div>
		<h1>Login</h1>
		<%= form_tag "", method: :post do %>
			<%= label_tag :email, "Rats-Mailaddresse"%><%= text_field_tag :email %><br />
			<%= label_tag :password, "Passwort" %><%= link_to "Passwort vergessen", :reset_password %><%= password_field_tag :password %><br />
			<span id="persist_label">Eingeloggt bleiben: </span><%= check_box_tag :persist %><br />
			<%= submit_tag "Einloggen", :id => "send_login" %>
		<% end %>
		<!--<%= link_to "Instant Login", controller: "session", action: "instantlogin" %>-->
	</div>
</div>
