<% flash.each do |name,message| %>
	<div id="flash_<%= name %>">
		<%= message %>
	</div>
	<br />
<% end %>
<div id="login">
	<div>
		<h1>Login</h1>
		<%= form_tag do %>
			<label>Rats-Mailaddresse</label><%= text_field_tag :email %><br />
			<label>Passwort</label><%= password_field_tag :password %><br />
			<%= submit_tag "Einloggen", :id => "send_login" %>
		<% end %>
		<!--<%= link_to "Instant Login", controller: "session", action: "instantlogin" %>-->
	</div>
</div>

