<% flash.each do |name,message| %>
	<div id="flash_<%= name %>">
		<%= message %>
	</div>
	<br />
<% end %>
<div id="menue">

</div>
<div id="login">
	<div>
		<h1>Login</h1>
		<%= form_tag do %>
			<%= label_tag :email, "Rats-Mailaddresse"%><%= text_field_tag :email %><br />
			<%= label_tag :password, "Passwort" %><%= password_field_tag :password %><br />
			<span id="persist_label">Eingeloggt bleiben: </span><%= check_box_tag :persist %><br />
			<%= submit_tag "Einloggen", :id => "send_login" %>
		<% end %>
		<!--<%= link_to "Instant Login", controller: "session", action: "instantlogin" %>-->
	</div>
</div>