%h2 Passwort zur체cksetzen

- if @success
	%p#success-msg Die E-Mail wurde verschickt. Falls du die Nachricht nicht sofort findest schaue auch im Spam-Ordner nach. Bitte beachte, dass der Link nur innerhalb der n채chsten 2 Stunden g체ltig ist.

- else
	.reset-form
		%p Sende dir eine E-Mail um dein Passwort zur체ckzusetzen
		= form_tag "", method: :post do
			= label_tag :email, "E-Mail Adresse"
			= text_field_tag :email
			= submit_tag "E-Mail senden"

= link_to "Login", :login