<%= form_for @description do |f| %>
  <% if @description.errors.any? %>
    <div id="error_explanation">
      <h2><%= @description.errors.count %> Fehler sind aufgetreten:</h2>

      <ul>
      <% @description.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :described_id, "Für" %><br />
    <%= collection_select(:description, :described_id, Student.all.order(:id), :id, :name, prompt: "Bitte auswählen") %>
  </div>
  <div class="field">
    <%= f.label :content, "Text" %><br />
    <%= f.text_area :content, rows: 15, cols:80 %>
  </div>
  <div class="field">
    <%= f.label :interests, "Interessen" %><br />
    <%= f.text_field :interests %>
  </div>
  <div class="field">
    <%= f.label :hobbies %><br />
    <%= f.text_field :hobbies %>
  </div>
  <div class="field">
    <%= f.label :additional_authors, "Weitere Autoren" %><br />
    <%= f.text_field :additional_authors %>
  </div>
  <div class="actions">
    <%= f.submit "Bestätigen" %>
  </div>
<% end %>
