<h1>Beschreibungen</h1>
<p>
	<%= link_to "Beschreibung erstellen", new_description_path %>
</p>
<h2>Ungeprüfte Beschreibungen</h2>
<%= render partial: "table", locals: { descriptions: @own_descriptions.unchecked } %>

<h2>Zugelassene Beschreibung</h2>
<%= render partial: "table", locals: { descriptions: @own_descriptions.accepted } %>

<h2>Abgelehnte Beschreibungen</h2>
<%= render partial: "table", locals: { descriptions: @own_descriptions.rejected } %>

<h2>Geschriebene Beschreibungen</h2>
<% if not @written_descriptions.empty? %>
	<table>
		<thead>
			<th>Für</th>
			<th>Zusätzliche Autoren</th>
			<th>Zuletzt geändert am</th>
			<th>Status</th>
			<th>Aktionen</th>
		</thead>
		<% @written_descriptions.each do |description| %>
			<tr>
				<td><%= description.described.name %></td>
				<td><%= description.additional_authors %></td>
				<td><%= description.updated_at.strftime "%H:%M %d.%m.%Y" %></td>
				<td><%= description_status_symbol description %>
				<td>
					<%= link_to "Bearbeiten", edit_description_path(description.id) %>
					<%= link_to "Löschen", description_path(description.id), :method => :delete, :confirm => "Wirklich löschen?" %>
				</td>
			</tr>
		<% end %>
	</table>
<% else %>
	Du hast noch keine Beschreibung geschrieben
<% end %>
