<h1>Beschreibung anzeigen</h1>
<ul>
	<li><b>Von:</b> <%= @description.author.name %></li>
	<li><b>Für:</b> <%= @description.described.name %></li>
	<li><b>Status:</b> <%= description_status_symbol @description %>
	<li><b>Beschreibung:</b><br /><%= @description.content %></li>
	<li><b>Interessen:</b> <%= @description.interests %></li>
	<li><b>Hobbies:</b> <%= @description.hobbies %></li>
	<li><b>Zusätzliche Autoren:</b> <%= @description.additional_authors %></li>
	<li><b>Zuletzt verändert am:</b> <%= @description.updated_at.strftime "%d.%m.%Y %H:%M" %></li>
</ul>
<br />
<%= link_to @description.described.name, @description.described %>
