<h1>Seitenstatistiken</h1>
<p>
<h2>Allgemeine Kennzahlen</h2>
	<ul>
		<li>Gesamte Logins: <%= @total_logins %></li>
		<li>Logins in der letzten Stunde: <%= @logins_in_last[:hour] %></li>
		<li>Logins in den letzten 24 h: <%= @logins_in_last[:day] %></li>
		<li>Logins in der letzten Woche: <%= @logins_in_last[:week] %></li>
		<li>Logins im letzten Monat: <%= @logins_in_last[:month] %></li>
	</ul>
	<h2>Gerade online</h2>
	<ul>
		<% @now_online_students.each do |student| %>
			<li><%= link_to student.name, student_path(student.id) %></li>
		<% end %>
	</ul>
</p>
<p>
	<h2>Meiste Logins</h2>
	<% if !mobile_device? %>
		<table>
			<thead>
				<th>Platz</th>
				<th>Schüler</th>
				<th>Logins</th>
			</thead>
			<tbody>
				<% i = 0 %>
				<% 3.times do %>
					<tr>
						<td><%= i+1 %></td>
						<td><%= @login_ranking[i][0] %></td>
						<td><%= @login_ranking[i][1] %></td>
					</tr>
					<% i += 1 %>
				<% end %>
			</tbody>
		</table>
	<% else %>
		<div style="margin-bottom:30px;" id="colTogglePlaceholder"></div>
		<div style="width: 100%;overflow: auto;">
			<table class="ui-responsive" data-role="table" data-mode="columntoggle" id="login_ranking_table" data-column-btn-text="Spalten" data-column-btn-theme="b">
				<thead>
					<th data-priority="2">Platz</th>
					<th data-priority="1">Schüler</th>
					<th data-priority="3">Logins</th>
				</thead>
				<tbody>
					<% i = 0 %>
					<% 3.times do %>
						<tr>
							<td><%= i+1 %></td>
							<td><%= @login_ranking[i][0] %></td>
							<td><%= @login_ranking[i][1] %></td>
						</tr>
						<% i += 1 %>
					<% end %>
				</tbody>
			</table>
		</div>
	<% end %>
</p>
<p>
	<h2>Logins eines bestimmten Nutzers</h2>
	<%= form_tag(page_stats_index_path, method: :post) do %>
		<%= select_tag "name", options_from_collection_for_select(Student.all.order(:name), "name", "name") %>
		<%= submit_tag "Logins anzeigen" %>
	<% end %>
</p>
<p>
<% if @students_logins_name != nil %>
	<h2>Logins von <%= @students_logins_name %></h2>
<% end %>
</p>
<p>
	<% if @students_logins != nil && @students_logins.count > 0 %>
		<strong>Allgemeine Kenndaten</strong>
		<ul>
			<li>Gesamte Logins: <%= @students_logins.count %></li>
			<li>
				Logins in der letzten Stunde: 
				<% i = 0 %>
				<% @students_logins.each do |login| %>
					<% if login.created_at > 1.hours.ago %>
						<% i += 1 %>
					<% end %>
				<% end %>
				<%= i %>
			</li>
			<li>
				Logins in den letzten 24 Stunden: 
				<% i = 0 %>
				<% @students_logins.each do |login| %>
					<% if login.created_at > 1.days.ago %>
						<% i += 1 %>
					<% end %>
				<% end %>
				<%= i %>
			</li>
			<li>
				Logins in der letzten Woche: 
				<% i = 0 %>
				<% @students_logins.each do |login| %>
					<% if login.created_at > 1.weeks.ago %>
						<% i += 1 %>
					<% end %>
				<% end %>
				<%= i %>
			</li>
			<li>
				Logins im letzten Monat: 
				<% i = 0 %>
				<% @students_logins.each do |login| %>
					<% if login.created_at > 1.month.ago %>
						<% i += 1 %>
					<% end %>
				<% end %>
				<%= i %>
			</li>
		</ul>
	<% else %>
		<p>Keine Logins</p>
	<% end %>
</p>
<% if @students_logins != nil && @students_logins.count > 0 %> 
	<p>
		<strong>Loginliste</strong>
		<ul>
			<% @students_logins.each do |login| %>
				<li><%= login.created_at.day.to_s+"."+login.created_at.month.to_s+"."+login.created_at.year.to_s+" - "+(login.created_at.hour+@timezone).to_s+":"+login.created_at.min.to_s+" Uhr" %></li>
			<% end %>
		</ul>
	</p>
<% end %>
<p>
	<h2>Letzten 10 Logins</h2>
	<ul>
		<% @last_10_logins.each do |login| %>
			<li><%= link_to Student.find_by_id(login.user_id).name, student_path(Student.find_by_id(login.user_id).id) %> am <%= login.created_at %></li>
		<% end %>
	</ul>
</p>