#footer
	- if @current_user
		%p= raw "Eingeloggt als " + @current_user.name

	%ul
		%li= link_to "Impressum", :static_imprint
		%li= link_to "Datenschutz", :static_privacy
		%li= link_to "Kontakt", :contacts
		%li= link_to "Startseite", :login
