#little_menue
	%ul
		- if @current_user != nil
			%li= link_to "Hauptmenü", :home
			%li= link_to "Abstimmung", :category_list
			%li= link_to "Umfragen", poll_index_path
			%li= link_to "Beschreibungen", descriptions_path
			%li= link_to "News", news_index_path
			%li= link_to "Zitat einreichen", :new_quote
			- if @current_user.has_permission("poll.abimotto")
				%li= link_to "Abimotto Ergebnisse", :abimotto
			- if @current_user.has_permission("settings.menu")
				%li= link_to "Administration", :settings
			%li= link_to "Passwort ändern", :change_password
			%li= link_to "Logout", :logout

#acc_link_dd
	%ul
		%li= link_to "Passwort ändern", :change_password
		%li= link_to "Logout", :logout

#menue
	-if !mobile_device?
		%a{:title => "Ratsmash-Logo", :href => "/"}= image_tag("Rmash.png", height: 40)
	-else
		%a{:title => "Ratsmash-Logo", :href => "/"}= image_tag("Rmash.png")
	%ul
		- if @current_user != nil
			%li= link_to raw("Account &or;"), "#", id: "account_link", onclick: "manageAccountDd();"
			- if @current_user.has_permission("poll.abimotto")
				%li= link_to "Abimotto Ergebnisse", :abimotto
			-if @current_user.has_permission("settings.menu")
				%li= link_to "Administration", :settings
			%li= link_to "News", news_index_path
			%li= link_to "Zitat einreichen", :new_quote
			%li= link_to "Beschreibungen", descriptions_path
			%li= link_to "Umfragen", poll_index_path
			%li= link_to "Abstimmung", :category_list
	- if @current_user != nil
		-if !mobile_device?
			= image_tag("menue_button.png", height: 40, alt: "Menübutton", id: "little_menue_button", onclick: "manageMobileMenue();")
		-else
			= image_tag("menue_button.png", alt: "Menübutton", id: "little_menue_button", onclick: "manageMobileMenue();")
