<h1>News</h1>
<% if @current_user.admin_permissions %>
	<p><%= link_to "Neue News erstellen", new_news_path %></p>
<% end %>
<% if @news.count > 0 %>
	<table>
		<tr>
			<th>Vom</th>
			<th>Autor</th>
			<th>Überschrift</th>
			<th></th>
		</tr>
		<% @news.each do |news| %>
			<tr>
				<td><%= news.updated_at.day.to_s+"."+news.updated_at.month.to_s+"."+news.updated_at.year.to_s %></td>
				<td><%= news.author %></td>
				<td><%= news.subject %></td>
				<td>
					<%= link_to "Zeigen", news_path(news.id) %>
					<% if @current_user.admin_permissions %>
						<%= link_to "Bearbeiten", edit_news_path(news.id) %>
						<%= link_to "Löschen", news_path(news.id), method: :delete, data: { confirm: "Wirklich löschen?" } %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
<% else %>
	<p>Noch keine News vorhanden</p>
<% end %>