<h1>Neue News</h1>
<p>
	Codes zur Textgestaltung:
	<ul>
		<li><b>Absatzende:</b> [p_end]</li>
	</ul>
</p>
<div id="news">
	<article>
		<%= form_tag News.new, method: :post do %>
			<b>Überschrift/Betreff</b> <%= text_field_tag :subject, nil, placeholder: "Überschrift/Betreff" %><br />
			<b>Autoren</b> <%= text_field_tag :author, nil, placeholder: "Autoren" %><br /><br />
			<b>Inhalt</b> 
			<div class="paste_legend_for_news_button">
				<%= link_to "Absatzende einfügen", "#", title: "[p_end]" %>
			</div>
			<%= text_area_tag :content, nil, placeholder: "Inhalt", :rows => 15, :cols => 80, class: "news_content_field_area" %><br />
			<%= submit_tag "News erstellen" %>
		<% end %>
	</article>
</div>
<p>
	<table>
		<tr>
			<td>
				<%= link_to "News", news_index_path, class: "news_links" %> 
			</td>
		</tr>
	</table>
</p>