<% if @terminalDevice == "Desktop-PC" %>
	<h1>Kontakt</h1>
	<%= form_tag(send_contact_form_path,method: :post) do %>
		<table>
			<tr>
				<td><%= label_tag :name, "Dein Name" %></td>
				<% if @name %>
					<%= hidden_field_tag :name, @name %>
					<td><%= @name %></td>
				<% else %>
					<td><%= text_field_tag :name %></td>
				<% end %>
			</tr>
			<tr>
				<td><%= label_tag :mail, "Deine Mailadresse" %></td>
				<% if @mail %>
					<%= hidden_field_tag :mail, @mail %>
					<td><%= @mail %></td>
				<% else %>
					<td><%= text_field_tag :mail %></td>
				<% end %>
			</tr>
			<tr>
				<td><%= label_tag :subject, "Betreff" %></td>
				<td><%= text_field_tag :subject %></td>
			<tr>
				<td style="vertical-align:top;"><%= label_tag :name, "Deine Nachricht" %></td>
				<td><%= text_area_tag :message, nil, rows: 10, cols: 40 %></td>
			</tr>
			<tr>
				<td><%= submit_tag "Abschicken" %></td>
				<td></td>
			</tr>
		</table>
	<% end %>
<% else %>
	<h1>Kontakt</h1>
	<%= form_tag(send_contact_form_path,method: :post) do %>
		<table style="width:100%;">
			<tr>
				<td><%= label_tag :name, "Dein Name" %></td>
				<% if @name %>
					<%= hidden_field_tag :name, @name %>
					<td><%= @name %></td>
				<% else %>
					<td><%= text_field_tag :name %></td>
				<% end %>
			</tr>
			<tr>
				<td><%= label_tag :mail, "Deine Mailadresse" %></td>
				<% if @mail %>
					<%= hidden_field_tag :mail, @mail %>
					<td><%= @mail %></td>
				<% else %>
					<td><%= text_field_tag :mail %></td>
				<% end %>
			</tr>
			<tr>
				<td><%= label_tag :subject, "Betreff" %></td>
				<td><%= text_field_tag :subject %></td>
			<tr>
				<td style="vertical-align:top;"><%= label_tag :name, "Deine Nachricht" %></td>
				<td><%= text_area_tag :message, nil, rows: 10, cols: 40 %></td>
			</tr>
			<tr>
				<td colspan="2"><%= submit_tag "Abschicken" %></td>
			</tr>
		</table>
	<% end %>
<% end %>