<h1>Neue Umfrage</h1>
<%= form_tag :polls, method: :post do %>
	<b>Thema</b> <%= text_field_tag :name, nil, placeholder: "Thema" %><br /><br />
	<b>Frage</b> <%= text_field_tag :question, nil, placeholder: "Frage" %><br /><br /><br />
	<fieldset>
		<legend><b><i>Votingmöglichkeiten</i></b></legend>
		<br />
		<div id="poll_options">
			<p>Votingmöglichkeit: <%= text_field_tag "voting_ops[0]" %>
			<p>Votingmöglichkeit: <%= text_field_tag "voting_ops[1]" %>
		</div>
		<p><a href="#" onClick="add_poll_vote_field()">Weitere Votingmöglichkeit hinzufügen</a></p>
	</fieldset>
	<%= submit_tag "Umfrage erstellen" %>
<% end %>
<p>
	<%= link_to "Umfragen", :polls %>
</p>
