%h1= @poll.name
%h2= @poll.question
- if @poll.closed
  %h2(style="color:green;") Umfrage beendet!

%h3= "Du kannst #{@poll.possible_votes} Optionen wählen"
%ul
  %table
    = form_tag :commit_poll_vote, method: :post do
      - @poll.options.each do |option|
        %p
          = option.name
          %input{type: "checkbox", name: "chosen[]", value: option.id}
      = submit_tag  "Abstimmen"
