<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= @teacher.errors.count %> Fehler sind aufgetreten:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :gender, "Geschlecht" %><br>
    männlich: <%= f.radio_button :gender, "m", checked: @teacher.gender %> weiblich: <%= f.radio_button :gender, "w", checked: (!@teacher.gender and !@teacher.gender.nil?) %>
  </div>
  <div class="field">
    <%= f.label :closed, "Gesperrt" %>
    <%= f.check_box :closed %>
  </div>
  <div class="actions">
    <%= f.submit "Bestätigen" %>
  </div>
<% end %>
