<h1>Lehrerliste</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Geschlecht</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.gender ? "m" : "w" %></td>
        <td><%= link_to 'Anzeigen', teacher %></td>
        <td><%= link_to 'Bearbeiten', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Löschen', teacher, method: :delete, data: { confirm: 'Soll Eintrag Nr. ' + teacher.id.to_s + " wirklich gelöscht werden?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Lehrer hinzufügen', new_teacher_path %>
<%= link_to "Administration", :settings %>
