<p id="notice"><%= notice %></p>

<% if @teacher.closed %>
  <strong style="color:red;">Dieser Account ist geschlossen!</strong>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Geschlecht:</strong>
  <%= @teacher.gender ? "männlich" : "weiblich" %>
</p>

<%= link_to 'Bearbeiten', edit_teacher_path(@teacher) %> |
<%= link_to 'Zurück', teachers_path %>
