<%= image_tag("stempel_cursor.png", width: 100, alt: "Stempel Cursor", id: "stempel_cursor") %>
<%= image_tag("stempel_schatten.png", width: 100, alt: "Stempel Schatten", id: "stempel_schatten") %>
<%= image_tag("stamp.png", width: 100, alt: "Versandt-Stempelabdruck", id: "stempelabdruck") %>

<h1>Launch</h1>
<%= form_tag(send_mails_to_students_path,method: :post) do %>
	<div id="letter_wrapper">
		<%= submit_tag "", id: "send_mail_button" %>
		<%= image_tag("brief.png", alt: "letter", id: "letter") %>
	</div>
<% end %>
<audio id="stamp_sound" preload="auto">
	<source src="<%= asset_path 'stamp_sound.mp3' %>" type="audio/mpeg" />
	<source src="<%= asset_path 'stamp_sound.ogg' %>" type="audio/ogg" />
	<embed height="30" width="300" src="/assets/song.mp3">
	Your browser does not support the audio element!
</audio>
