<%= image_tag("stempel_cursor.png", width: 100, alt: "Stempel Cursor", id: "stempel_cursor") %>
<%= image_tag("stamp.png", width: 100, alt: "Versandt-Stempelabdruck", id: "stempelabdruck") %>

<h1>Go Live</h1>
<%= form_tag(send_mails_to_students_path,method: :post) do %>
	<div id="letter_wrapper">
		<%= submit_tag "", id: "send_mail_button" %>
		<%= image_tag("brief.png", alt: "letter", id: "letter") %>
	</div>
<% end %>
<%= link_to "Dev-Reset", :launch_reset %>
