<%= form_for @category do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= @category.errors.count %> Fehler sind aufgetreten:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :group_id, "Gruppe" %><br>
    <%= collection_select(:category, :group_id, Group.all, :id, :name, prompt: "Bitte auswählen!") %>
  </div>
  <div class="field">
    <%= f.label :closed, "Geschlossen" %><br>
    <%= f.check_box :closed %>
  </div>
  <div class="actions">
    <%= f.submit "Bestätigen" %>
  </div>
<% end %>
