%h1 Kategorieliste

%table
  %thead
    %tr
      %th Name
      %th
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.name
        %td= category.male ? (category.female ? "beide" : "nur männlich") : (category.female ? "nur weiblich" : "nix")
        %td= category.student ? (category.teacher ? "beide" : "nur Schüler") : (category.teacher ? "nur Lehrer" : "nix")
        %td= link_to 'Bearbeiten', edit_category_path(category)
        %td= link_to 'Löschen', category, method: :delete, data: { confirm: 'Soll Eintrag Nr. ' + category.id.to_s + " wirklich gelöscht werden?" }

%br

= link_to 'Kategorie hinzufügen', new_category_path
= link_to "Administration", :settings
