%h1 Kategorieliste

= link_to 'Kategorie hinzufügen', new_category_path

%table
  %thead
    %tr
      %th Name
      %th Gruppe
      %th Status
      %th
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.name
        %td= category.group.name
        %td= simple_symbol condition: !category.closed?, msg_true: "Offen", msg_false: "Geschlossen"
        %td= link_to 'Bearbeiten', edit_category_path(category)
        %td= link_to 'Löschen', category, method: :delete, data: { confirm: 'Soll Eintrag Nr. ' + category.id.to_s + " wirklich gelöscht werden?" }
