<%= form_for(@pupil) do |f| %>
  <% if @pupil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pupil.errors.count, "error") %> prohibited this pupil from being saved:</h2>

      <ul>
      <% @pupil.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.check_box :gender %>
  </div>
  <div class="field">
    <%= f.label :mail_address %><br>
    <%= f.text_field :mail_address %>
  </div>
  <div class="field">
    <%= f.label :password_digest %><br>
    <%= f.text_field :password_digest %>
  </div>
  <div class="field">
    <%= f.label :password_resetkey %><br>
    <%= f.text_field :password_resetkey %>
  </div>
  <div class="field">
    <%= f.label :admin_permissions %><br>
    <%= f.check_box :admin_permissions %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
