!!! 5
%html
	%head
		%title Ratsmash
		= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js"
		= csrf_meta_tags

	%body

		#little_menue
			%ul
				- if @current_user != nil
					%li
						= link_to "Hauptmenü", :home
					%li
						= link_to "Kategorien", :category_list
					%li
						= link_to "Beschreibungen", descriptions_path
					%li
						= link_to "Administration", :settings if @current_user.admin_permissions
					%li
						= link_to "Passwort ändern", :change_password
					%li
						= link_to "Logout", :logout

		#acc_link_dd
			%ul
				%li
					= link_to "Passwort ändern", :change_password
				%li
					= link_to "Logout", :logout

		#menue
			%a{:title => "Ratsmash-Logo", :href => "/"}
				= image_tag("R.ico", height: 40, alt: "Ratsmash-Logo")
			%ul
				- if @current_user != nil
					%li 
						= link_to raw("Account &or;"), "#", class: "account_link" 
					%li
						= link_to "Administration", :settings if @current_user.admin_permissions
					%li
						= link_to "Beschreibungen", descriptions_path
					%li
						= link_to "Kategorien", :category_list
					%li
						= link_to "Hauptmenü", :home

			#little_menue_button
				= image_tag("menue_button.png", height: 40, alt: "Menübutton")

		#webseite
			= yield
			= render "shared/footer"

	%div#script-notifier UM DIESE WEBSITE ZU NUTZEN MUSS JAVASCRIPT AKTIVIERT SEIN
