!!! 5
%html
	%head
		%title Ratsmash
		= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js"
		= csrf_meta_tags

	%body
		#acc_link_dd
			%ul
				%li
					= link_to "Logout", :logout
				%li
					= link_to "Passwort ändern", :change_password
		#menue
			%ul
				%li 
					= link_to "Account", "#", class: "account_link"
		#webseite
			= yield
			= render "shared/footer"

	%div#script-notifier UM DIESE WEBSITE ZU NUTZEN MUSS JAVASCRIPT AKTIVIERT SEIN
